{% extends "admin/departments/role_detail.html" %}

{% block bread %}
    {% with department=role.department %}
        {{ block.super }}
        <li><a href="{% url 'admin:role-detail' department_pk=role.department_id pk=role.pk %}">Role #{{ role.pk }}: {{ role.name }}</a></li>
    {% endwith %}
{% endblock %}

{% block crumbs %}
    <li>Create New Shift</li>
{% endblock %}

{% block content %}
    <h1>Create New Shift</h1>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form action="." method="post" class="well">
                        {% include 'partials/form_as_fieldsets.html' %}
                        <button class="btn btn-primary" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
