*~
*.pyc
db.sqlite3
*.dump
env/
backups/
venv
.DS_Store
.idea
voldb.iml
.env
.tox

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
#dist #hax
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
#lib#hax
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# SQLite
*.sqlite3
=======

# Client build files
client/node_modules
*/npm-debug.log
client/node_modules
#client/dist #hacks
client/.tmp
client/.sass-cache
client/bower_components
client/test/bower_components

# client test data
app/css/temp.css
app/data/departments_current.json
app/data/departments_mine.json
app/data/roles_current.json
app/data/shifts_current.json
app/data/shifts_mine.json
