Django>=1.8.0,<1.9
PyYAML==3.11
dj-database-url==0.3.0
django-argonauts==1.1.4
django-authtools==1.4.0
django-backupdb==0.5.5
django-betterforms==1.1.4
django-bootstrap3==6.2.2
django-cache-url==0.8.0
django-herokuify==1.0.pre3
django-ogmios==0.9.3
django-pipeline==1.6.4
django-pylibmc==0.6.1
django-s3-folder-storage==0.3
django-tables2==1.1.1
djangorestframework==3.3.2
drf-ujson==1.2
env-excavator==1.3.0
gunicorn==19.4.5
ipython==1.2.1
manifesto==0.5
newrelic==2.18.1.15
psycopg2==2.6.1
pylibmc==1.5.0
python-dotenv==0.1.0
pytz==2015.7
readline==6.2.4.1
rollbar==0.11.2
unicodecsv==0.14.1
