{% extends "base.html" %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block content %}
    <!-- Add your site or application content here -->
    <h1><span>Password Reset Email Sent</span></h1>
    <section>
        <p>For security reasons, I can not tell you
            if the email address you provided really is
            linked to an account. However, if it is, an 
            email containing a link to reset your password 
            has been sent to your inbox.</p>
        <p>If you do not recieve an email, please try 
           <a href="{% url 'register' %}">register for an account.</a></p>
    </section>
{% endblock %}
