<div class="modal-header bg-primary">
    <button type="button" class="close dismiss" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Shifts at {{ cellTitleLong }}</h4>
</div>
<div class="modal-body">
    <p>Look, roles and shifts!</p>
    <div class="roles">
        <!-- ModalRoleView(s) -->
    </div>
</div>
<div class="modal-footer bg-primary">
    <button type="button" class="btn btn-default dismiss" data-dismiss="modal">Close</button>
</div>
