<ul class="pagination">
    <li{{#unless hasPreviousPage }} class="disabled"{{/unless}}>
        <a href="#" class="previous-page" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
</ul>
<ul class="pagination pages">
    <!-- GridPageNumberView(s) -->
</ul>
<ul class="pagination">
    <li{{#unless hasNextPage }} class="disabled"{{/unless}}>
        <a href="#" class="next-page" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>
