{{#unless is_empty }}
    <div class="panel-heading">
        {{#if hasUserShifts }}
            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
        {{/if}}
        {{ cellTitleShort }}
    </div>
    <div class="panel-body">
        {{#if open_slot_count }}
            {{ open_slot_count }} open shift{{#if pluralOpenSlots }}s{{/if}}
        {{else}}
            Full
        {{/if}}
    </div>
{{/unless}}
