<div>
    <h4>
        <span class="glyphicon glyphicon-{{ icon }}" aria-hidden="true"></span>
        Role: {{ name }} <small>Department: {{ department.name }}</small>
    </h4>
    <p>
        {{ description }}
    </p>
    <div class="shifts">
    </div>
</div>
