<div>
    <h4>
        Shift #{{ id }} 
        <span class="glyphicon glyphicon-{{ shiftIcon }}" aria-hidden="true"></span>
        <span class="badge">{{ filled_slot_count }} / {{ num_slots }}</span>
    </h4>
    {{#if isClaimable }}
        <button type="button" class="btn btn-primary">Claim</button>
    {{/if}}
</div>
