<thead>
    <tr>
        <td>Foo</td>
        <td>12AM</td>
        <td>1AM</td>
        <td>2AM</td>
        <td>3AM</td>
        <td>4AM</td>
        <td>5AM</td>
        <td>6AM</td>
        <td>7AM</td>
        <td>8AM</td>
        <td>9AM</td>
        <td>10AM</td>
        <td>11AM</td>
        <td>12PM</td>
        <td>1PM</td>
        <td>2PM</td>
        <td>3PM</td>
        <td>4PM</td>
        <td>5PM</td>
        <td>6PM</td>
        <td>7PM</td>
        <td>8PM</td>
        <td>9PM</td>
        <td>10PM</td>
        <td>11PM</td>
    </tr>
</thead>
<tbody class="shift-grid">
    <!-- ShiftGridView -->
</tbody>
