{% extends "base.html" %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block content %}
    <!-- Add your site or application content here -->
    <h1>Volugean Profile {{ user.profile.display_name }}</h1>
    <section>
      <dl>
        <dt>Email:</dt>
            <dd>{{ user.email }}</dd>
        <dt>Full Name:</dt>
            <dd>{{ user.profile.full_name }}</dd>
        <dt>Display Name:</dt>
            <dd>{{ user.profile.display_name }}</dd>
        <dt>Phone:</dt>
            <dd>{{ user.profile.phone }}</dd>
      </dl>
      <a href="{% url 'profile_edit' %}" class="buttonize">Edit Profile</a>
      <a href="{% url 'password_change' %}" class="buttonize">Change Password</a>
    </section>
    {% if user.shifts.exists %}
      {% include 'shifts/partials/shift_grid.html' %}
    {% endif %}
{% endblock %}
