{% extends "admin/departments/department_list.html" %}
{% load render_table from django_tables2 %}
{% load humanize %}

{% block bread %}
    {{ block.super }}
    <li><a href="{% url 'admin:department-list' %}">Departments</a></li>
{% endblock %}

{% block crumbs %}
    <li>Department #{{ department.pk }}: {{ department.name }}</li>
{% endblock %}

{% block content %}
    <h1>
        Deparment #{{ department.pk }}: {{ department.name }}
        <p class="pull-right">
        <small><a href="{% url 'admin:department-merge' pk=department.pk %}" class="btn btn-warning">Merge with another department</small></a>
        </p>
    </h1>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Details</h2>
                    <dl class="dl-horizontal">
                        <dt>Id:</dt>
                        <dd>{{ department.pk }}</dd>
                        <dt>Name:</dt>
                        <dd>{{ department.name }}</dd>
                        <dt>Description:</dt>
                        <dd>{{ department.description|linebreaksbr }}</dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <form action="." method="post" class="well">
                        <h2>Edit</h2>
                        {% include 'partials/form_as_fieldsets.html' %}
                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2>
            Roles
            <p class="pull-right">
            <small><a href="{% url 'admin:role-create' department_pk=department.pk %}" class="btn btn-success">Create New Role</small></a>
            </p>
        </h2>
        {% render_table table %}
    </section>
{% endblock %}
