{% extends "admin/departments/department_list.html" %}
{% load render_table from django_tables2 %}
{% load humanize %}

{% block bread %}
    {{ block.super }}
    <li><a href="{% url 'admin:department-list' %}">Departments</a></li>
{% endblock %}

{% block crumbs %}
    <li>Department #{{ department.pk }}: {{ department.name }}</li>
{% endblock %}

{% block content %}
    <h1>
        Deparment #{{ department.pk }}: {{ department.name }}
        <p class="pull-right">
            <small><a href="{% url 'admin:department-shift-report' pk=department.pk %}" class="btn btn-primary">View Shift Report</small></a>
        <small><a href="{% url 'admin:department-merge' pk=department.pk %}" class="btn btn-warning">Merge with another department</small></a>
        </p>
    </h1>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Details</h2>
                    <dl class="dl-horizontal">
                        <dt>Id:</dt>
                        <dd>{{ department.pk }}</dd>
                        <dt>Name:</dt>
                        <dd>{{ department.name }}</dd>
                        <dt>Description:</dt>
                        <dd>{{ department.description|linebreaksbr }}</dd>
                    </dl>
                    <h4>
                        Leads
                        <p class="pull-right">
                            <small><a href="{% url 'admin:department-lead-add' pk=department.pk %}" class="btn btn-primary btn-sm">Add Lead</a></small>
                        </p>
                    </h4>
                    <ul>
                        {% for lead in department.leads.all %}
                          <li>
                              <a href="{% url 'admin:user-detail' pk=lead.pk %}">{{ lead }}</a> - <a class="btn btn-warning btn-sm" href="{% url 'admin:department-lead-remove' pk=department.pk lead_pk=lead.pk %}">Remove As Lead</a>
                          </li>
                        {% empty %}
                          <li>Department has no leads specified</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-6">
                    <form action="." method="post" class="well">
                        <h2>Edit</h2>
                        {% include 'partials/form_as_fieldsets.html' %}
                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2>
            Roles
            <p class="pull-right">
            <small><a href="{% url 'admin:role-create' department_pk=department.pk %}" class="btn btn-success">Create New Role</small></a>
            </p>
        </h2>
        {% render_table table %}
    </section>
{% endblock %}
