{% extends "admin/departments/department_detail.html" %}

{% block bread %}
    {{ block.super }}
    <li><a href="{% url 'admin:department-detail' pk=department.pk %}">Department #{{ department.pk }}: {{ department.name }}</a></li>
{% endblock %}

{% block crumbs %}
    <li>Merge with other department</li>
{% endblock %}

{% block content %}
    <h1>Merge with other department</h1>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form action="." method="post" class="well">
                        <h4 class="text-danger">Warning!</h4>
                        <p class="text-danger">This action is destructive and cannot be undone.  All roles belonging to this department will be assigned to the selected department and this department will be <strong>deleted</strong>.  </p>
                        {% include 'partials/form_as_fieldsets.html' %}
                        <button class="btn btn-warning" type="submit">Merge</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
