{% extends "admin/departments/department_detail.html" %}
{% load render_table from django_tables2 %}
{% load humanize %}

{% block bread %}
    {{ block.super }}
    <li><a href="{% url 'admin:department-detail' pk=role.department_id %}">Department #{{ role.department_id }}: {{ role.department.name }}</a></li>
{% endblock %}

{% block crumbs %}
    <li>Role #{{ role.pk }}: {{ role.name }}</li>
{% endblock %}

{% block content %}
    <h1>
        Role #{{ role.pk }}: {{ role.name }}</h1>
        <p class="pull-right">
            <small><a href="{% url 'admin:role-shift-report' department_pk=role.department_id pk=role.pk %}" class="btn btn-primary">View Shift Report</small></a>
            <small><a href="{% url 'admin:role-merge' department_pk=role.department_id pk=role.pk %}" class="btn btn-warning">Merge with another role</small></a>
        </p>
    </h1>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Details</h2>
                    <dl class="dl-horizontal">
                        <dt>Id:</dt>
                        <dd>{{ role.pk }}</dd>
                        <dt>Name:</dt>
                        <dd>{{ role.name }}</dd>
                        <dt>Description:</dt>
                        <dd>{{ role.description|linebreaksbr }}</dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <form action="." method="post" class="well">
                        <h2>Edit</h2>
                        {% include 'partials/form_as_fieldsets.html' %}
                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2>
            Shifts
            <p class="pull-right">
            <small><a href="{% url 'admin:shift-create' department_pk=role.department_id role_pk=role.pk %}" class="btn btn-success">Create Shift</small></a>
            </p>
        </h2>
        {% render_table table %}
    </section>
{% endblock %}
