{% extends "admin/shifts/shift_slot_report.html" %}

{% block bread %}
    {{ block.super }}
    <li><a href="{% url 'admin:department-list' %}">Departments</a></li>
    <li><a href="{% url 'admin:department-detail' pk=role.department_id %}">Department #{{ role.department_id }}: {{ role.department.name }}</a></li>
    <li><a href="{% url 'admin:role-detail' department_pk=role.department_id pk=role.pk %}">Role #{{ role.pk }}: {{ role.name }}</a></li>
{% endblock %}

{% block crumbs %}
    <li>Shift Report for Role#{{ role.pk }}: {{ role.name }}</li>
{% endblock %}
