{% extends "base.html" %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block content %}
    <!-- Add your site or application content here -->
    <h1><span>Password Reset</span></h1>
    <section>
        {% if validlink %}
            <p>
                Fill in the following form to reset your password.
            </p>

            <form action="{{ request.path }}" method="post">
                {% include 'partials/form_as_fieldsets.html' %}
                <input type="submit" />
            </form>
        {% else %}
            <p>
                Invalid link.
            </p>
        {% endif %}
    </section>
{% endblock %}
