{% extends "base.html" %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block content %}
    <!-- Add your site or application content here -->
    <h1><span>Password Reset</span></h1>
    <section>
        <blockquote>
        <p>
            Forgotten your password? Enter your email address below, and we'll
            email instructions for setting a new one.
        </p>
        <p>
            Please note: You will need to create a new account for
            2014. We hope this is the last year you need to re-register. 
        </p>        
        </blockquote>
        <form action="{% url 'password_reset' %}" method="post">
            {% include 'partials/form_as_fieldsets.html' %}
            <input type="submit" />
        </form>


    </section>
{% endblock %}
