<!DOCTYPE html>
{% load static pipeline user_utils argonauts %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Apogaea Volunteer Database{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
        {% if ROLLBAR_CONFIG %}
            <script type="text/javascript">var _rollbarConfig = {{ ROLLBAR_CONFIG|json }};</script>
            {% javascript 'rollbar' %}
        {% endif %}

        {% stylesheet 'base' %}

        {% block extra_css %}
        {% endblock %}
    </head>

    <body>
    {% block body %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'site-index' %}">Volunteer Database</a>
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'department-list' %}">Departments</a></li>
                        <li><a href="{% url 'dashboard' %}">My Stuff</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav pull-right">
                    {% if user.is_authenticated %}
                        <li><p class="navbar-text">Wecome back <em>{{ user }}</em></p></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% if user.is_admin %}
                        <li><p class="navbar-text">|</p></li>
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="main-content">
            {% block content_wrapper %}
            {% endblock content_wrapper %}
        </div>

        {% javascript 'base' %}
        {% javascript 'shift-grid' %}
<script type="text/javascript">
$(document).ready(function() {
    window.django_user = new Backbone.Model({{ user|serialized_user|json }});
})
</script>

        {% block extra_javascript %}
        {% endblock %}
    {% endblock body %}
    </body>
</html>
