{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block content %}
    <h1>{{ department }}</h1>
    <section id="department">
        <h2><span>Description</span></h2>
        <div class="solobody">
        <p>{{ department.description }}</p>
        </div>
        <hr class="close" />
    </section>
    <h1>{{ department }} Shifts</h1>
    {% if user.is_authenticated %}
        {% include 'shifts/partials/shift_grid.html' %}
    {% else %}
        <section>
          <p>Please <a href="{% url 'register' %}">Register</a> to view and claim shifts</p>
        </section>
    {% endif %}

{% endblock %}

