{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block content %}

<h1>Volunteer Shifts</h1>

<section id="shiftgrid">
    <h2><span>Tuesday, June 3rd</span></h2>


{% for list in shift_lists %}
    <h2><span>{{ list.department }}</span></h2>

    <table width="100%">
{% for shift in list.shifts %}
    <tr>
        <th>Name: {{ shift.name }}</th>
        <td>Department: {{ shift.department }}</td>
        <td>Start: {{ shift.start_time }}</td>
        <td>End: {{ shift.shift_length }} hrs</td>
    </tr>
{% endfor %}
    </table>
{% endfor %}


    <p>Shifts...</p>


<section>{{ department_list }}</section>

<section>{{ shift_lists }}</section>

</section>    
{% endblock %}

