{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block content %}

<h1>Volunteer Shifts</h1>

<section id="shiftgrid">
    <h2><span>Tuesday, June 3rd</span></h2>


{% for list in shift_lists %}
    <h2><span>{{ list.department }}</span></h2>

    <table width="100%" style="border: 1px solid #000">
    <tr>
{% for shift in list.shifts %}
        <td colspan="{{ shift.shift_length }}">{{ shift.start_time }}</td>
{% endfor %}
    </tr>
    </table>
{% endfor %}


    <p>Shifts...</p>


<section>{{ department_list }}</section>

<section>{{ shift_lists }}</section>

<section>{{ shift_days }}</section>

</section>    
{% endblock %}

