{% extends "layout_skinny.html" %}

{% block content %}
    <h1><span>Change Password</span></h1>
    <section id="changepassword">
        <h2>{{ user }}</h2>
        <div>
            <form action="." method="post">
                {% include 'partials/form_as_fieldsets.html' %}
                <button class="btn btn-primary" type="submit">Update</button>
                <a href="{% url 'dashboard' %}" class="btn btn-default">Cancel</a>
            </form>
        </div>
    </section>
{% endblock %}
