{% extends "layout_full.html" %}
{% load shift_utils argonauts %}

{% block content %}
    <h1>Account Dashboard</h1>
    <section id="profile">        
        <h2>{{ user }}</h2>
        <div>
            <p><b>{{ user.profile.full_name }}</b></p>
            <p>Display Name: {{ user }}<br />
               {{ user.email }}<br />
               {{ user.profile.phone }}
            </p>
            <a href="{% url 'password-change' %}" class="btn btn-default">Change Password</a><br />
            <a href="{% url 'profile-edit' %}" class="btn btn-default">Edit Profile</a>
        </div>            
    </section>
    <h1>Your Schedule</h1>
    <div id="my-shifts-grid" class="shift-grid">
        {% include "shifts/partials/shift_grid.html" %}
    </div>
{% endblock %}


{% block extra_javascript %}
{{ block.super }}
<script>
$(document).ready(function() {
    var application = new app.ShiftGridApplication({
        el: $('my-shifts-grid'),
        rows: {{ user.shifts|as_grid|json }}
    });
    window.application = application;
});
</script>
{% endblock %}
