{% extends "layout_full.html" %}

{% block content %}
    <h1>Departments</h1>
    {% for department, dept_stats in department_data %}
        <section class="departments well" id="department-{{ department.pk }}">
            <h3>
                {{ department }}
                <span class="badge">{{ dept_stats.total_filled_shift_slots }} / {{ dept_stats.total_shift_slots }} shifts filled</span>
                <a href="#department-{{ department.pk }}" class="text-muted quicklink">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                </a>
            </h3>
            <p class="lead">{{ department.description|linebreaksbr }}</p>
            <a class="btn btn-default" href="{% url 'department-detail' pk=department.pk %}">View available shifts</a>
        </section>
    {% endfor %}
{% endblock %}
